<div class="container">
  <div class="inner-container">
    <span *ngIf="isCardLoaded">Balance: {{ balance }}</span>
    <span *ngIf="isCardLoaded">Account number: {{ accountNumber }}</span>
    <br>
    <form action="" [formGroup]="atmGroup">
      <div class="card-selection" *ngIf="!isCardLoaded">
        <label for="fileInput" class="attach">
          <i class="fas fa-paperclip"></i>
          Select a card
        </label>
        <input formControlName="cardFile" type="file" id="fileInput" class="hidden" (change)="onCardLoaded($event)">
      </div>
      <div *ngIf="isCardLoaded && isCardCreated && !isAuthorized">Your PIN : {{ pinFromCreation }}</div>
      <ng-container *ngIf="isCardLoaded && !isAuthorized">
        <mat-form-field>
          <mat-label>PIN:</mat-label>
          <input formControlName="PIN" type="password" matInput>
          <mat-hint>PIN code is 4 numbers</mat-hint>
          <mat-error>
            PIN code should contain 4 numbers
          </mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="isCardLoaded && isAuthorized">
        <mat-form-field>
          <mat-label>Amount:</mat-label>
          <input formControlName="amount" type="number" matInput>
        </mat-form-field>
        <span style="color: red;">{{ operationMessage }}</span>
      </ng-container>
    </form>
    <button mat-raised-button *ngIf="!isCardLoaded" (click)="createCard()">Create card</button>
    <br>
    <button mat-raised-button *ngIf="isCardLoaded && !isAuthorized" (click)="authorizeinATM()">Authorize</button>
<!--    <button mat-raised-button (click)="displayFG()">Log button</button>-->
    <div class="operation-block" *ngIf="isCardLoaded && isAuthorized">
      <button mat-raised-button (click)="withdraw()">Withdraw</button>
      <button mat-raised-button (click)="deposit()">Deposit</button>
    </div>
    <div *ngIf="isCardLoaded && isAuthorized" style="padding: 20px 0;">
      <button mat-raised-button (click)="loadUpdatedCard()">Load Card with updated balance</button>
    </div>
    <span *ngIf="isAuthorized">Authorized</span>
    <span *ngIf="!isAuthorized">Unauthorized</span>
  </div>

</div>
